@charset 'UTF-8';

header {
  padding: 22px 60px;
  border-bottom: 4px solid #f8f8f8;
  position: relative;

  .h-wrapper {
    @include flex($j-content:flex-end, $a-items:center);
    position: relative;
    z-index: 998;

    @media only screen and (max-width: $screen-tb) {
      margin-bottom: 8px;
    }
  }

  .h-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    .h-nav {
      position: absolute;
      transition: all .3s ease;
      width: 230px;
      top: calc(100% + 15px);
      left: -10px;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
      -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
      box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
      border-radius: 6px;
      .list {
        >.item {
          &:not(:last-child) {
            border-bottom: 1px solid rgba(#000, 0.08);
          }
          >.txt {
            display: block;
            text-decoration: none;
            color: #333;
            font-size: 15px;
            padding: 17px 20px;
            transition: all .3s ease;

            &:hover {
              background: #f8f8f8;
            }

            @media only screen and (max-width: $screen-tb) {
              text-align: center;
              font-size: 14px;
              padding: 14.5px 20px;
            }
          }
        }
      }

      body.menu-open & {
        opacity: 1;
        visibility: visible;
      }

      @media only screen and (max-width: $screen-tb) {
        width: calc(100% + 30px);
        left: -15px;
        top: calc(100% + 14px);
        border-radius: 0;
        background: #f6f6f6;
      }
    }

    @media only screen and (max-width: $screen-tb) {
      @include flex($j-content:center);
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  .h-logo {
    width: 140px;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -16px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 4px 0 4px;
      border-color: #aaa transparent transparent transparent;
      body.menu-open & {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }

  .h-right {
    @include flex($a-items:center);

    .h-profile {
      width: 38px;
      height: 38px;
      overflow: hidden;

      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        font-family: "object-fit: cover;";
      }
    }

    .h-product-register {
      margin-right: 40px;
      color: #d12e7f;
      @include flex($a-items:center);

      font: {
        size: 16px;
        weight: bold;
      }

      >img {
        width: 20px;
        display: inline-block;
        margin-right: 15px;
        @media only screen and (max-width: $screen-tb) {
          margin-right: 5px;
          width: 24px;
        }
      }
      @media only screen and (max-width: $screen-tb) {
        margin-right: 0;
      }
    }

    @media only screen and (max-width: $screen-tb) {
      width: 100%;
      @include flex($j-content:space-between, $a-items:center, $f-direction: row-reverse);
    }
  }

  @media only screen and (max-width: $screen-tb) {
    padding: 12px 15px;
  }
}

.g-menu {
  position: absolute;
  left: 50%;
  @include flex($j-content:center);
  top: 50%;
  transform: translate(-50%, -50%);

  .h-menu {
    @include flex;
    >.item {
      margin: 0 15px;
      >.txt {
        color: #333;
        text-decoration: none;
        display: inline-block;
        padding: 1px 14px;
        border-radius: 30px;

        font: {
          size: 16px;
          weight: bold;
        }

        @media only screen and (max-width: $screen-tb) {
          font-size: 14px;
          padding: 1.5px 10px;
        }
      }
      &.active {
        >.txt {
          background: $primary;
          color: #fff;
        }
      }
      &.disable {
        >.txt {
          color: #a8a8a8;
          pointer-events: none;
        }
      }

      @media only screen and (max-width: $screen-tb) {
        margin: 0;
        text-align: center;
        flex-grow: 1;
      }
    }

    @media only screen and (max-width: $screen-tb) {
      @include j-content(space-between);
      width: 100%;
    }
  }

  @media only screen and (max-width: $screen-tb) {
    position: static;
    transform: translateY(0);
  }
}
