@mixin area01 {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  color: #333;
  height: 111px;
  line-height: 1.7;
  transition: all .3s ease;

  font: {
    size: 16px;
  }

  width: 100%;

  @media only screen and (max-width: $screen-tb) {
    font-size: 13px;
    line-height: 1.5;
    padding: 15px;
  }
}