@mixin radio01 {
  font-size: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  
  &:checked {
    +label {
      border-color: #1664b2;
      color: #1664b2;
      &:before {
        border-color: #1664b2;
      }
    }
  }
  +label {
    border: 1px solid #ddd;
    border-radius: 5px;
    line-height: 43px;
    height: 45px;
    font-size: 16px;
    text-align: center;
    &:before {
      content: "";
      display: inline-block;
      width: 12px;
      height: 6px;
      margin-right: 15px;
      transform-origin: 0 0;
      transform: rotate(-45deg);
      border: {
        left: 1px solid #ddd;
        bottom: 1px solid #ddd;
      }
    }

    @media only screen and (max-width: $screen-tb) {
      font-size: 13px;
      height: 40px;
      line-height: 38px;
      &:before {
        margin-right: 10px;
        width: 10px;
      }
    }
  }
}
